.md-card {
   justify-content: center;
}

#search-container{
  margin-top: 20%;
}

.search{
  height: 70px;
  max-height: 70px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: 2em;
}

.avatar{
  margin-bottom: 7px;
}

.searchButton{
  background-color: #CA1740;
  color: #fff;
  margin-top:20px;
}

.image-container{
  justify-content: center;
  width: 300px;
  min-height: 100px;
  margin: 8px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.results{
  padding: 8px;
  margin-bottom: 12px;
}
